@model WebApplication2.Models.MenuItem
@{
    ViewBag.Title = "Edit Menu Item";
    var categories = ViewBag.Categories as List<WebApplication2.Models.Category>;
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="MenuItemId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(categories, "CategoryId", "Name"))"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhotoURL"></label>
        <input asp-for="PhotoURL" class="form-control" />
        <span asp-validation-for="PhotoURL" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
