@model ResetPasswordVM

@{
    ViewBag.Title = "Account | Reset Password";
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <section>
        <button style="margin-top: 15px;">Submit</button>
        <button type="reset" style="margin-top: 20px;">Reset</button>
    </section>
</form>

<link href="~/css/main.css" rel="stylesheet" media="all" />
