@model LoginVM

@{
    ViewBag.Title = "Account | Login";
    var siteKey = ViewBag.SiteKey as string;
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <div class="password-toggle-container">
        <input asp-for="Password" autocomplete="new-password" id="passwordInput">
        <span class="password-toggle-icon" onclick="togglePasswordVisibility('passwordInput', this)">
            <i class="fas fa-eye"></i>
        </span>
    </div>
    <span asp-validation-for="Password"></span>

    <br>
    <label>
        <input asp-for="RememberMe">Remember Me
    </label>
    <br>

    <br>
    <section>
        @if (!string.IsNullOrEmpty(siteKey))
        {
            <div class="g-recaptcha" data-sitekey="@siteKey"></div>
        }
        <br>
        <button>Login</button>
        <button type="reset">Reset</button>
        <br>
    </section>
</form>

<br>
<p>
    [ <a href="/Account/Register">Register</a> |
    <a href="/Account/ResetPassword">Reset Password</a> ]
</p>

@section Scripts {
    @if (!string.IsNullOrEmpty(siteKey))
    {
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    }
    <script>
        // Reusable function to toggle password visibility
        function togglePasswordVisibility(inputId, iconSpan) {
            const passwordInput = document.getElementById(inputId);
            const icon = iconSpan.querySelector('i'); // Get the <i> element inside the span

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash'); // Change to eye-slash icon
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye'); // Change back to eye icon
            }
        }
    </script>
}