@model WebApplication2.Models.LoginVM

@if (!ViewData.ModelState.IsValid)
{
    <div style="color: red">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" data-upper autofocus />
        <span asp-validation-for="Email" ></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" autocomplete="new-password" />
        <span asp-validation-for="Password" ></span>
    </div>

    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe">Remember Me</label>
    </div>

    <button type="submit">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
