@model RegisterVM

@{
    ViewBag.Title = "Account | Register";
    var siteKey = ViewBag.SiteKey as string;
}

<form asp-action="Register" method="post" enctype="multipart/form-data" class="form">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <div class="password-toggle-container">
        <input asp-for="Password" autocomplete="new-password" id="registerPasswordInput" />
        <span class="password-toggle-icon" onclick="togglePasswordVisibility('registerPasswordInput', this)">
            <i class="fas fa-eye"></i>
        </span>
    </div>
    <span asp-validation-for="Password"></span>

    <label asp-for="Confirm"></label>
    <div class="password-toggle-container">
        <input asp-for="Confirm" autocomplete="new-password" id="confirmPasswordInput" />
        <span class="password-toggle-icon" onclick="togglePasswordVisibility('confirmPasswordInput', this)">
            <i class="fas fa-eye"></i>
        </span>
    </div>
    <span asp-validation-for="Confirm"></span>


    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Name"></span>

    <label asp-for="ProfilePicture"></label>
    <label class="upload">
        <small>Select Photo...</small>
        <input asp-for="ProfilePicture" accept="image/jpeg, image/png, image/jpg, image/webp, image/gif, image/bmp, image/svg+xml, image/tiff" hidden>
        <img src="/images/photo.jpg">
    </label>
    <span asp-validation-for="ProfilePicture"></span>

    <br>
    <section>
        <div class="g-recaptcha" data-sitekey="@siteKey"></div>
        <br>
        <button>Register</button>
        <button type="reset">Reset</button>
    </section>
    <br>
</form>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        // The same reusable function as in Login.cshtml
        function togglePasswordVisibility(inputId, iconSpan) {
            const passwordInput = document.getElementById(inputId);
            const icon = iconSpan.querySelector('i');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }
    </script>
}